.AnswersLabel {
    align-self: flex-end;
    font-size: var(--kar-font-4);
    font-weight: bold;
}

.Loading {
    font-size: var(--kar-font-1);
    color: var(--kar-color-black-3);
    direction: rtl;
}

.Error {
    font-size: var(--kar-font-2);
    color: var(--kar-color-hot);
    margin-bottom: 8px;
}

.AnswerEmpty {
    font-size: var(--kar-color-black-2);
    font-size: var(--kar-font-2);
    align-self: flex-end;
}
