.NavbarContainer {
    width: 100%;
    height: 68px;
    background-color: var(--kar-color-white-1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 50px -1px rgba(50, 50, 71, 0.05);
}

.Navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
}

@media only screen and (min-width: 500px) {
    .Navbar {
        max-width: 540px;
    }
}

@media only screen and (min-width: 768px) {
    .Navbar {
        max-width: 720px;
    }
}

@media only screen and (min-width: 992px) {
    .Navbar {
        max-width: 960px;
    }
}

@media only screen and (min-width: 1200px) {
    .Navbar {
        max-width: 1140px;
    }
}

.Title {
    font-size: var(--kar-font-4);
    color: var(--kar-color-black-1);
    font-weight: bold;
}

.LeftContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.ProfileContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.ProfileContainer svg {
    width: 10px;
    height: 10px;
    margin-right: 12px;
}

.ProfileContainer svg path {
    transition: 0.3s;
}

.ProfileContainer:hover svg path {
    transition: 0.3s;
    fill: var(--kar-color-black-2);
}

.ProfileContainer span {
    font-size: var(--kar-font-2);
    color: var(--kar-color-black-2);
}

.ProfileContainer .ImageContainer {
    width: 44px;
    height: 44px;
    min-width: 44px;
    min-height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 12px;
    border-radius: 50%;
    overflow: hidden;
}

.ProfileContainer img {
    height: 110%;
    width: auto;
    position: absolute;
}

@media (max-width: 730px) {
    .Title {
        font-size: var(--kar-font-2);
    }

    .HideInMobile {
        display: none;
    }
}
