.ContentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 16px 16px;
}

.Des {
    width: 100%;
    color: var(--kar-color-black-1);
    text-align: right;
    font-size: var(--kar-font-2);
    margin-top: 0;
    direction: rtl;
}

.ButtonLink {
    align-self: flex-start;
    text-decoration: none;
}

.ButtonDetails {
    font-size: var(--kar-font-1);
}

.Picture {
    max-width: 600px;
    align-self: flex-start;
    margin-bottom: 8px;
    width: 100%;
}

.SadIcon {
    width: 20px;
    height: 20px;
    margin-left: 6px;
}

.SadIcon path {
    fill: var(--kar-color-black-4);
    transition: 0.3s;
}

.SadIcon.Active path {
    fill: var(--kar-color-hot);
}

.HappyIcon {
    width: 20px;
    height: 20px;
    margin-left: 6px;
}

.HappyIcon path {
    fill: var(--kar-color-black-4);
    transition: 0.3s;
}

.HappyIcon.Active path {
    fill: var(--kar-color-primary);
}

.GoodNotGoodContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
}

.NotGoodButton {
    margin-right: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: baseline;
}

.NotGoodButton svg {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.NotGoodButton svg path {
    fill: var(--kar-color-hot);
    opacity: 1;
}

.GoodButton {
    margin-right: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: baseline;
}

.GoodButton svg {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.GoodButton svg path {
    fill: var(--kar-color-primary);
    opacity: 1;
}
