.Header {
    width: 100%;
    height: 48px;
    background-color: var(--kar-color-white-1);
    border-radius: 8px;
    box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05),
        0px 0px 1px rgba(12, 26, 75, 0.24);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.HeaderRight {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}

.HeaderRight .ImageContainer {
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 8px;
    margin-left: 16px;
    overflow: hidden;
}

.HeaderRight img {
    height: 110%;
    width: auto;
    position: absolute;
}

.HeaderRight span {
    font-size: var(--kar-font-3);
    direction: rtl;
    font-weight: bold;
}

.HeaderLeft {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.InnerContainer {
    display: flex;
    flex-direction: row;
    direction: rtl;
    justify-content: flex-start;
    align-items: center;
}

.InnerContainer.Space {
    margin-right: 30px;
}

.InnerContainer .Label {
    font-size: var(--kar-font-1);
    color: var(--kar-color-black-3);
}

.InnerContainer .Value {
    font-size: var(--kar-font-1);
    color: var(--kar-color-black-1);
    font-weight: bold;
    margin-right: 4px;
}

.Separator {
    width: 0px;
    height: 24px;
    margin-right: 12px;
    margin-left: 12px;
    border-left: 2px solid rgba(0, 0, 0, 0.1);
}

.CommentsNumber {
    font-size: var(--kar-font-1);
    color: var(--kar-color-black-3);
    width: 15px;
    text-align: center;
}

.CommentIcon {
    width: 16px;
    height: 16px;
    margin-left: 6px;
}

.SadIcon {
    width: 20px;
    height: 20px;
    margin-left: 6px;
}

.SadIcon path {
    fill: var(--kar-color-black-4);
    transition: 0.3s;
}

.SadIcon.Active path {
    fill: var(--kar-color-hot);
}

.HappyIcon {
    width: 20px;
    height: 20px;
    margin-left: 6px;
}

.HappyIcon path {
    fill: var(--kar-color-black-4);
    transition: 0.3s;
}

.HappyIcon.Active path {
    fill: var(--kar-color-primary);
}

@media (max-width: 730px) {
    .HideInMobile {
        display: none;
    }
}
