.Button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
}
