.Loading {
    font-size: var(--kar-font-1);
    color: var(--kar-color-black-3);
    direction: rtl;
}

.Error {
    font-size: var(--kar-font-2);
    color: var(--kar-color-hot);
    margin-bottom: 8px;
}

.NoQuestions {
    font-size: var(--kar-font-2);
    color: var(--kar-color-black-2);
}
