.PlusIcon {
    width: 10px;
    height: 10px;
    margin-left: 12px;
}

.Button {
    margin-left: 40px;
}

@media (max-width: 730px) {
    .Button {
        margin-left: 0;
    }
}

.ModalContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--kar-color-white-2);
    border-radius: 8px;
    box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05),
        0px 0px 1px rgba(12, 26, 75, 0.24);
    overflow: hidden;
}

.ModalHeader {
    width: 100%;
    height: 48px;
    background-color: var(--kar-color-white-1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 16px;
    padding-left: 8px;
}

.ModalHeader span {
    font-weight: bold;
}

.CloseIconContainer {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.CloseIcon {
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
}

.CloseIcon path {
    fill: var(--kar-color-black-2);
}

.FormContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 16px;
}
