.Title {
    align-self: flex-end;
    direction: rtl;
    font-size: var(--kar-font-4);
    color: var(--kar-color-black-1);
    font-weight: bold;
    margin-bottom: 0;
}

.Label {
    font-size: var(--kar-font-1);
    align-self: flex-end;
    direction: rtl;
    margin-bottom: 10px;
    margin-top: 18px;
}

.TextArea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 160px;
    min-height: 160px;
    max-height: 160px;
    border-radius: 6px;
    border: 1px solid #eeeeee;
    background-color: var(--kar-color-white-1);
    text-align: right;
    direction: rtl;
    padding: 12px 16px;
    outline: none;
    margin-bottom: 12px;
}

.Button {
    align-self: flex-end;
    margin-bottom: 30px;
}
