.Page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.ContentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 16px;
}

@media only screen and (min-width: 500px) {
    .ContentContainer {
        max-width: 540px;
    }
}

@media only screen and (min-width: 768px) {
    .ContentContainer {
        max-width: 720px;
    }
}

@media only screen and (min-width: 992px) {
    .ContentContainer {
        max-width: 960px;
    }
}

@media only screen and (min-width: 1200px) {
    .ContentContainer {
        max-width: 1140px;
    }
}
