.Item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: visible;
    box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05),
        0px 0px 1px rgba(12, 26, 75, 0.24);
    background-color: var(--kar-color-white-3);
}

.Item:first-of-type {
    margin-top: 16px;
}
