@font-face {
    font-family: Yekan;
    font-style: normal;
    font-weight: 700 !important;
    src: url("./assets/fonts/IranYekan/iranyekanwebextraboldfanum.eot");
    src: url("./assets/fonts/IranYekan/iranyekanwebextraboldfanum.eot?#iefix")
            format("embedded-opentype"),
        url("./assets/fonts/IranYekan/iranyekanwebextraboldfanum.woff")
            format("woff"),
        url("./assets/fonts/IranYekan/iranyekanwebextraboldfanum.ttf")
            format("truetype");
}
@font-face {
    font-family: Yekan;
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/IranYekan/iranyekanwebregularfanum.eot");
    src: url("./assets/fonts/IranYekan/iranyekanwebregularfanum.eot#iefix")
            format("embedded-opentype"),
        url("./assets/fonts/IranYekan/iranyekanwebregularfanum.woff")
            format("woff"),
        url("./assets/fonts/IranYekan/iranyekanwebregularfanum.ttf")
            format("truetype");
}

body {
    margin: 0;
    font-family: "Yekan";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--kar-color-white-2);
    box-sizing: border-box;
}

body * {
    box-sizing: border-box;
}

/* variables */
:root {
    /* colors */
    --kar-color-white-1: #ffffff;
    --kar-color-white-2: #f7f8f9;
    --kar-color-white-3: #f9f9f9;
    --kar-color-primary: #27ae60;
    --kar-color-primary-hover: #199da3;
    --kar-color-primary-active: #168a90;
    --kar-color-black-1: #222222;
    --kar-color-black-2: #454545;
    --kar-color-black-3: #777777;
    --kar-color-black-4: #9caebb;
    --kar-color-hot: #f16063;
    --kar-color-hot-hover: #da5658;
    --kar-color-hot-active: #c74e50;

    /* font sizes */
    --kar-font-1: 12px;
    --kar-font-2: 14px;
    --kar-font-3: 16px;
    --kar-font-4: 24px;
}
