.Label {
    color: var(--kar-color-black-2);
    font-size: var(--kar-font-1);
    align-self: flex-end;
    margin-top: 16px;
    margin-bottom: 8px;
}

.SubjectInput {
    width: 100%;
    height: 44px;
    border-radius: 6px;
    background-color: var(--kar-color-white-1);
    border: 1px solid #eeeeee;
    padding: 0 16px;
    text-align: right;
    direction: rtl;
    outline: none;
    margin-bottom: 16px;
    font-size: var(--kar-font-2);
}

.TextArea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 164px;
    max-height: 164px;
    min-height: 164px;
    height: 44px;
    border-radius: 6px;
    background-color: var(--kar-color-white-1);
    border: 1px solid #eeeeee;
    padding: 12px 16px;
    text-align: right;
    direction: rtl;
    outline: none;
    margin-bottom: 16px;
    font-size: var(--kar-font-2);
}

.ButtonsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 16px;
}

.SubmitButton {
    margin-right: 20px;
}
