.BackDrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.38);
    z-index: 10;
    cursor: pointer;
}

.BackDrop.Show {
    opacity: 1;
    pointer-events: all;
}

.BackDrop.Hide {
    opacity: 0;
    pointer-events: none;
}

.Modal {
    width: 100%;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    transform-origin: center center;
    z-index: 11;
}

@media (max-width: 730px) {
    .Modal {
        max-width: calc(100% - 32px);
    }
}

.Modal.Show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.Modal.Hide {
    opacity: 0;
    transform: translate(-50%, -40%) scale(0.8);
}
